* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quantico', sans-serif;
}

body {
    background-color: rgb(42, 42, 42);
    display: flex;
}

#start-game-btn {
    border: none;
    margin: auto;
    margin-top: 20vh;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: rgb(42, 42, 42);
    background-color: rgb(255, 233, 23);
    border-radius: .6rem;
    box-shadow: 0 .2rem 0 rgb(172, 157, 24);
    transition: .3s;
}

#start-game-btn:hover {
    background-color: rgb(214, 195, 20);
    box-shadow: 0 .2rem 0 rgb(117, 107, 17);
    cursor: pointer;
}

#start-game-btn:active {
    transform: scale(.95);
}


#game-board-div {
    background-color: rgb(29, 29, 29);
    width: fit-content;
    padding: .5rem;
    border-radius: 10px;
}

#game-board-div:hover {
    cursor: crosshair;
}

.square {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: rgb(82, 82, 82);
}

.square:hover {
    opacity: 0.5;
    cursor: crosshair;
}

.player {
    position: absolute;
    background-color: rgb(98, 98, 224);
    top: 8px;
    border-radius: 10px;
    transition: .2s;
}
.player::before {
    content: 'You';
    position: absolute;
    top: -15px;
    left: -3px;
    font-size: .7rem;
}

.virus {
    position: absolute;
    transition: 1s;
    animation: virusBreath linear 5s infinite; 
}

@keyframes virusBreath {
    0% {
        background-color: rgb(50, 195, 62);
    }
    50% {
        background-color: rgb(29, 105, 34);
    }
    100% {
        background-color: rgb(50, 195, 62);
    }
}

.btn {
    border: none;
    margin: auto;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    border-radius: .6rem;
    transition: .3s;
    cursor: pointer;
    text-shadow: 0 0 3px black
}
.btn:hover {
    opacity: .7;
}
.btn:active {
    transform: scale(.95)
}

/* Notifications */
.notification {
    position: absolute;
    top: -100px;
    left: 40%;
    border: none;
    margin: auto;
    padding: 1rem;
    font-size: 1.5rem;
    width: fit-content;
    color: white;
    border-radius: .6rem;
    transition: .3s;
    z-index: 10;
}

.win-div {
    text-shadow: 2px 2px 0 rgb(54, 54, 54);
    background-color: rgb(23, 255, 93);
    box-shadow: 0 .2rem 0 rgb(14, 156, 57);
}

.defeat-div {
    text-shadow: 2px 2px 0 rgb(54, 54, 54);
    background-color: rgb(255, 58, 23);
    box-shadow: 0 .2rem 0 rgb(179, 41, 16);
}

.error-div {
    position: absolute;
    top: -100px;
    border: none;
    margin: auto;
    padding: 1rem;
    font-size: 1.5rem;
    width: fit-content;
    color: rgba(255, 255, 255, 0.746);
    background-color: rgba(255, 23, 23, 0.561);
    border-radius: .6rem;
    box-shadow: 0 .2rem 0 rgba(160, 13, 13, 0.726);
    transition: .3s;
}

/* Next Game Div */
.next-game-div {
    position: absolute;
    top: -200px;
    left: 10%;
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 .3rem black;
    background-color: rgb(61, 61, 61);
    padding: 1rem;
    border-radius: 10px;
    color: white;
    box-shadow: 0 3px 0 rgb(46, 46, 46);
    transition: 1s ease-out;
    z-index: 5;
}

.question {
    font-size: 1.7rem;
}

.controls {
    display: flex;
    margin-top: 1rem;
}

.control-btn {
    padding: .5rem;
    width: 100px;
}

.control-btn-yes {
    background-color: rgb(80, 80, 80);
    box-shadow: 0 3px 0 rgb(28, 177, 47);
}
.control-btn-yes:hover {
    color: rgb(32, 218, 56);
}

.control-btn-no {
    background-color: rgb(80, 80, 80);
    box-shadow: 0 3px 0 rgb(160, 41, 41);
}
.control-btn-no:hover {
    color: rgb(235, 36, 36);
}


/* Temporary Classes */

.hide {
    display: none;
}