* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quantico', sans-serif;
}

body {
    background-color: rgb(42, 42, 42);
    display: flex;
}

#start-game-btn {
    border: none;
    margin: auto;
    margin-top: 20vh;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: rgb(42, 42, 42);
    background-color: rgb(255, 233, 23);
    border-radius: .6rem;
    box-shadow: 0 .2rem 0 rgb(172, 157, 24);
    transition: .3s;
}

#start-game-btn:hover {
    background-color: rgb(214, 195, 20);
    box-shadow: 0 .2rem 0 rgb(117, 107, 17);
    cursor: pointer;
}

#start-game-btn:active {
    transform: scale(.95);
}


#game-board-div {
    background-color: rgb(29, 29, 29);
    width: fit-content;
    padding: .5rem;
    border-radius: 10px;
}

#game-board-div:hover {
    cursor: crosshair;
}

.square {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: rgb(230, 230, 230);
}

.square:hover {
    opacity: 0.5;
    cursor: crosshair;
}

.player {
    position: absolute;
    background-color: rgb(98, 98, 224);
    top: 8px;
    border-radius: 10px;
    transition: .2s;
}
.player::before {
    content: 'You';
    position: absolute;
    top: -15px;
    left: -3px;
    font-size: .7rem;
}

.virus {
    background-color: salmon;
    position: absolute;
}

.btn {
    border: none;
    margin: auto;
    padding: 1rem;
    font-size: 1.5rem;
    width: fit-content;
    text-shadow: 2px 2px 0 rgb(40, 78, 45);
    color: white;
    background-color: rgb(23, 255, 93);
    border-radius: .6rem;
    box-shadow: 0 .2rem 0 rgb(14, 156, 57);
    transition: .3s;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(19, 189, 70);
    box-shadow: 0 .2rem 0 rgb(10, 110, 40);
}

/* Notifications */
.win-div {
    position: absolute;
    top: -100px;
    left: 40%;
    border: none;
    margin: auto;
    padding: 1rem;
    font-size: 1.5rem;
    width: fit-content;
    text-shadow: 2px 2px 0 rgb(40, 78, 45);
    color: white;
    background-color: rgb(23, 255, 93);
    border-radius: .6rem;
    box-shadow: 0 .2rem 0 rgb(14, 156, 57);
    transition: .3s;
}

.error-div {
    position: absolute;
    top: -100px;
    border: none;
    margin: auto;
    padding: 1rem;
    font-size: 1.5rem;
    width: fit-content;
    color: rgba(255, 255, 255, 0.746);
    background-color: rgba(255, 23, 23, 0.561);
    border-radius: .6rem;
    box-shadow: 0 .2rem 0 rgba(160, 13, 13, 0.726);
    transition: .3s;
}

/* Controls */

.controls {
    position: absolute;
    top: -150px;
    justify-content: center;
}


